<ion-header>
    <ion-toolbar>
        <ion-button color="light" (click)="volverInicio()">Inicio</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="principal">
        <div>
            <img class="izquierda" src={{imagen}} width="400" height="500">
            <aside>
                <label>Título:</label>
                <br>
                <label>{{titulo}}</label>
                <br><br>
                <label>Duración:</label>
                <br>
                <label>{{Duracion}} minutos</label>
                <br><br>
                <label>Genero:</label>
                <br>
                <div *ngFor="let gen of Genero">
                    <label>{{gen}}</label>
                </div>

                <br><br>
                <label>Descripción:</label>
                <br>
                <label>{{descripcion}}</label>

            </aside>
        </div>


    </div>

</ion-content>