<ion-header>
    <ion-toolbar>
        <ion-title>Listado de Películas</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="focus" color="light" [(ngModel)]="miBuscador" placeholder="Pulsar enter para buscar"></ion-searchbar>

    <ion-card *ngFor="let pelicula of listaPeliculas">

        <ion-card-content class="card" (click)="verDetalles(pelicula.idPelicula)">
            <ion-avatar slot="start">
                <img src={{pelicula.imagen}}>
            </ion-avatar>
            {{pelicula.titulo}}
        </ion-card-content>

    </ion-card>
</ion-content>